@model WebApp.ViewModels.DetailsDeleteReservationViewModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Reservation</h4>
    <hr />
    <partial name="PartialViews/_DetailsDeleteReservation" model="Model"/>
</div>
<div>
    @*<a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |*@
    <a asp-action="Index">Back to List</a>
</div>
